<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/h-ui/css/H-ui.min.css}" href="static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/css/H-ui.admin.css}" href="static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/skin/default/skin.css}" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/h-ui.admin/css/style.css}" href="static/h-ui.admin/css/style.css" />
    <link href="css/can.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>首页</title>
</head>
<body>
<div class="page-container">
    <p class="f-20 text-success">欢迎使用软工实训管理系统-学生模块！</p>
    <p></p>
    <p></p>

    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th colspan="7" scope="col">报告统计</th>
        </tr>
        <tr class="text-c">
            <th>统计</th>
            <th>周报</th>
            <th>月报</th>
            <th>中期报告</th>
            <th>实训报告</th>
            <th>项目</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c">
            <td>应提交</td>
            <td>[[${session.shouldSubmitWeek}]]</td>
            <td>[[${session.shouldSubmitMonth}]]</td>
            <td>[[${session.shouldSubmitMiddle}]]</td>
            <td>[[${session.shouldSubmitReport}]]</td>
            <td>[[${session.shouldSubmitProject}]]</td>
        </tr>
        <tr class="text-c">
            <td>已提交</td>
            <td>[[${session.hadSubmitWeek}]]</td>
            <td>[[${session.hadSubmitMonth}]]</td>
            <td>[[${session.hadSubmitMiddle}]]</td>
            <td>[[${session.hadSubmitReport}]]</td>
            <td>[[${session.hadSubmitProject}]]</td>
        </tr>
        <tr class="text-c">
            <td>补交</td>
            <td>[[${session.isAfterWeek}]]</td>
            <td>[[${session.isAfterMonth}]]</td>
            <td>[[${session.isAfterMiddle}]]</td>
            <td>[[${session.isAfterReport}]]</td>
            <td>[[${session.isAfterProject}]]</td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>