<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://mybatis.org/schema/mybatis-mapper">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>实训信息完善页面</title>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-information-add" method="post" th:action="@{/updateInformation}" >
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>姓名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="${session.myName}" placeholder="" id="myName" name="myName" disabled>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>性别：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="${session.myGender}" placeholder="" id="gender" name="myGender" disabled>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>班级：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="${session.myClass}" placeholder="" id="class" name="myClass" disabled>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>校内指导教师：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="${session.mySchTeacher}" placeholder="" id="teacher" name="mySchTeacher" disabled>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>我的联系方式：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="${session.myPhone}" placeholder="" id="phone1" name="myPhone" disabled>
                <p class="textarea-numberbar"><em class="textarea-length" id="myPhoneMessage" style="color: red"></em></p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>我的邮箱：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="${session.myEmail}" placeholder="" id="email" name="myEmail" disabled>
                <p class="textarea-numberbar"><em class="textarea-length" id="myEmailMessage" style="color: red"></em></p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>父母联系方式：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="${session.myParentPhone}" placeholder="任写其一" id="phone2" name="myParentPhone" disabled>
                <p class="textarea-numberbar"><em class="textarea-length" id="myParentPhoneMessage" style="color: red"></em></p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>实训类型：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
                <input id="ptTypeValue" type="hidden" name="typeValue"  th:value="${session.typeValue}">
				<select name="ptType" class="select"  id="ptType" disabled>
                    <option value="校内实训">校内实训</option>
					<option value="校企合作">校企合作</option>
					<option value="校外自行联系">校外自行联系</option>
				</select>
				</span> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">实训公司：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="${session.ptCompany}" placeholder="" id="ptCompany" name="ptCompany" disabled>
                <p class="textarea-numberbar"><em class="textarea-length" id="myPTCompanyName" style="color: red"></em></p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">校外指导老师：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="${session.comTeacherName}" placeholder="姓名" id="comTeacherName" name="comTeacherName" disabled>
                <p class="textarea-numberbar"><em class="textarea-length" id="myPTComTeaName" style="color: red"></em></p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"></label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="${session.comTeacherPhone}" placeholder="联系方式" id="phone3" name="comTeacherPhone" disabled>
                <p class="textarea-numberbar"><em class="textarea-length" id="myComTeaPhoneMessage" style="color: red"></em></p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">实训题目：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="${session.ptTitle}" placeholder="" id="ptTitle" name="ptTitle" disabled>
                <p class="textarea-numberbar"><em class="textarea-length" id="myPTName" style="color: red"></em></p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">实训所在城市：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" th:value="${session.ptCity}" placeholder="" id="ptCity" name="ptCity" disabled>
                <p class="textarea-numberbar"><em class="textarea-length" id="myPTCity" style="color: red"></em></p>
            </div>
        </div>
        <div>
            <input type="text" name="updatePTInfoBan" id="updatePTInfoBan" value="" style="display: none">
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button th:onClick="submit_sure('[[${session.messageBeginTime}]]','[[${session.messageEndTime}]]')" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 提交信息</button>
                <button th:onClick="updateInfo('[[${session.messageBeginTime}]]','[[${session.messageEndTime}]]');" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 修改信息</button>
            </div>
        </div>
    </form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="lib/webuploader/0.1.5/webuploader.min.js"></script>
<script type="text/javascript" src="lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">

    //验证我的联系方式
    $('#phone1').bind('input onchange',function () {//给输入联系方式的文本框绑定input事件

        var phone = $('#phone1').val();
        if(!(/^1[34578]\d{9}$/.test(phone))){
            $('#myPhoneMessage').text("号码格式有误");
        }else{
            $('#myPhoneMessage').text("");
        }
    })

    //验证我的邮箱
    $('#email').bind('input onchange',function(){//给输入邮箱的文本框绑定input事件

        var email = $('#email').val();
        if(!(/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/.test(email))){
            $('#myEmailMessage').text("邮箱格式有误");
        }else{
            $('#myEmailMessage').text("");
        }
    })

    //验证父母联系方式
    $('#phone2').bind('input onchange',function () {//给输入父母联系方式的文本框绑定input事件

        var phone = $('#phone2').val();
        if(!(/^1[34578]\d{9}$/.test(phone))){
            $('#myParentPhoneMessage').text("号码格式有误");
        }else{
            $('#myParentPhoneMessage').text("");
        }
    })

    //验证实训公司名称
    $('#ptCompany').bind('input onchange',function () {//给输入公司名称的文本框绑定input事件

        var name = $('#ptCompany').val();
        if(name.length==0){
            $('#myPTCompanyName').text("公司名称不能为空");
        }else{
            $('#myPTCompanyName').text("");
        }
    })

    //验证校外指导老师姓名
    $('#comTeacherName').bind('input onchange',function () {//给输入校外指导老师姓名的文本框绑定input事件

        var name = $('#comTeacherName').val();
        if(name.length==0){
            $('#myPTComTeaName').text("指导老师姓名不能为空");
        }else{
            $('#myPTComTeaName').text("");
        }
    })

    //验证校外指导老师联系方式
    $('#phone3').bind('input onchange',function () {//给输入校外指导老师联系方式的文本框绑定input事件

        var phone = $('#phone3').val();
        if(!(/^1[34578]\d{9}$/.test(phone))){
            $('#myComTeaPhoneMessage').text("联系方式格式有误");
        }else{
            $('#myComTeaPhoneMessage').text("");
        }
    })

    //验证实训题目
    $('#ptTitle').bind('input onchange',function () {//给输入实训题目的文本框绑定input事件

        var name = $('#ptTitle').val();
        if(name.length==0){
            $('#myPTName').text("实训题目不能为空");
        }else{
            $('#myPTName').text("");
        }
    })

    //验证实训城市
    $('#ptCity').bind('input onchange',function () {//给输入实训题目的文本框绑定input事件

        var name = $('#ptCity').val();
        if(name.length==0){
            $('#myPTCity').text("实训城市不能为空");
        }else{
            $('#myPTCity').text("");
        }
    })

    function updateInfo(val1,val2){
        //如果时间格式是正确的，那下面这一步转化时间格式就可以不用了
        // var dateBegin = new Date(d1.replace(/-/g, "/"));//将-转化为/，使用new Date
        // var dateEnd = new Date(d2.replace(/-/g, "/"));//将-转化为/，使用new Date
        // var d11="2019-04-26 20:42:00";
        // var d22="2019-04-26 20:50:00";
        var d1 = val1.substring(1,val1.length-1);
        var d2 = val2.substring(1,val2.length-1);
        var dateBegin = new Date(d1);//将-转化为/，使用new Date
        var dateEnd = new Date(d2);//将-转化为/，使用new Date
        var dateNow = new Date();//获取当前时间

        var beginDiff = dateNow.getTime() - dateBegin.getTime();//时间差的毫秒数
        var beginDayDiff = Math.floor(beginDiff / (24 * 3600 * 1000));//计算出相差天数

        var endDiff = dateEnd.getTime() - dateNow.getTime();//时间差的毫秒数
        var endDayDiff = Math.floor(endDiff / (24 * 3600 * 1000));//计算出相差天数
        if (endDayDiff < 0) {//已经超过修改时间，不能做修改操作
            document.getElementById("updatePTInfoBan").value="不能修改";
            alert ("当前时间是：" + dateNow +"，已超出操作时间！");
            // + dateNow.getHours () + ":" + dateNow.getMinutes () +
            return false;
        }else if (beginDayDiff < 0) {//未到修改时间，不能做修改操作
            document.getElementById("updatePTInfoBan").value="不能修改";
            alert ("当前时间是：" + dateNow + "，未到操作时间！");
            return false;
        }else {

            document.getElementById("updatePTInfoBan").value="可以修改";

            var phone1 = document.getElementById("phone1");
            var email = document.getElementById("email");
            var phone2 = document.getElementById("phone2");
            var ptType = document.getElementById("ptType");
            var ptCompany = document.getElementById("ptCompany");
            var comTeacherName = document.getElementById("comTeacherName");
            var phone3 = document.getElementById("phone3");
            var ptTitle = document.getElementById("ptTitle");
            var city = document.getElementById("ptCity");
            phone1.removeAttribute("disabled");
            email.removeAttribute("disabled");
            phone2.removeAttribute("disabled");
            ptType.removeAttribute("disabled");
            ptCompany.removeAttribute("disabled");
            comTeacherName.removeAttribute("disabled");
            phone3.removeAttribute("disabled");
            ptTitle.removeAttribute("disabled");
            city.removeAttribute("disabled");
            return true;
        }
    }
    function submit_sure(val1,val2){
        //如果时间格式是正确的，那下面这一步转化时间格式就可以不用了
        // var dateBegin = new Date(d1.replace(/-/g, "/"));//将-转化为/，使用new Date
        // var dateEnd = new Date(d2.replace(/-/g, "/"));//将-转化为/，使用new Date
        //  var d1="2019-04-15 20:42:00";
        // var d1 = val1+" 00:00:00";
        //  var d2 = val2+" 23:59:59"

        var d1 = val1.substring(1,val1.length-1);
        var d2 = val2.substring(1,val2.length-1);

        var dateBegin = new Date(d1);//将-转化为/，使用new Date
        var dateEnd = new Date(d2);//将-转化为/，使用new Date
        var dateNow = new Date();//获取当前时间

        var beginDiff = dateNow.getTime() - dateBegin.getTime();//时间差的毫秒数
        var beginDayDiff = Math.floor(beginDiff / (24 * 3600 * 1000));//计算出相差天数

        var endDiff = dateEnd.getTime() - dateNow.getTime();//时间差的毫秒数
        var endDayDiff = Math.floor(endDiff / (24 * 3600 * 1000));//计算出相差天数
        if (endDayDiff < 0) {//超过修改时间，不能做修改操作
            alert ("当前时间是：" + dateNow + ",操作时间已过！");
            return false;
        }else if (beginDayDiff < 0) {//还没有到修改时间，不能做修改操作
            alert ("当前时间是：" + dateNow + "，未到操作时间！");
            return false;
        }else {//可以做修改操作
            //正则表达式
            var phoneFlag = /^1[34578]\d{9}$/;//联系方式
            var emailFlag = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;//邮箱

            var phone1 = document.getElementById("phone1").value;
            var email = document.getElementById("email").value;
            var phone2 = document.getElementById("phone2").value;
            var ptType = document.getElementById("ptType");
            var ptCompany = document.getElementById("ptCompany");
            var comTeacherName = document.getElementById("comTeacherName");
            var phone3 = document.getElementById("phone3").value;
            var ptTitle = document.getElementById("ptTitle");
            var city = document.getElementById("ptCity");

            if(!phoneFlag.test(phone1)){
                alert("联系方式格式有误！");
                return false;
            }else if(!emailFlag.test(email)){
                alert("邮箱格式有误！");
            }else if(!phoneFlag.test(phone2)){
                alert("父母联系方式格式有误！");
            }else if(ptCompany.length<1){
                alert("实训公司名称不能为空！");
            }else if(comTeacherName.length<1){
                alert("校外指导老师姓名不能为空！");
            }else if(!phoneFlag.test(phone3)){
                alert("校外指导老师联系方式有误");
            }else if(ptTitle.length<1){
                alert("实训题目不能为空！");
            }else if(city.length<1){
                alert("实训城市不能为空！")
            }else{
            }

        }

    }
    $(document).ready(function(){
       var Flag=$("#ptTypeValue").val();
       if(Flag=="校内实训"){
           $("#ptType option[value='"+Flag+"']").attr("selected","selected");
       }else if(Flag=="校企合作"){
           $("#ptType option[value='"+Flag+"']").attr("selected","selected");
       }else{
           $("#ptType option[value='"+Flag+"']").attr("selected","selected");
       }
    });


</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>