<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>月报信息列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 软工实训管理系统 <span class="c-gray en">&gt;</span> 实训报告 <span class="c-gray en">&gt;</span> 月报 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="r">共有数据：<strong>[[${session.monthNum}]]</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="9">月报信息列表</th>
        </tr>
        <tr class="text-c">
            <!--<th width="25"><input type="checkbox" name="" value=""></th>-->
            <th width="40">月期</th>
            <th width="130">提交时间</th>
            <th width="50">是否补交</th>
            <th width="90">成绩</th>
            <th width="50">下载</th>
            <th width="100">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c" th:each="monthReport,memberStat:${resultList}" th:inline="none">
            <td th:text="${monthReport.monthMessage}"/>
            <td th:text="${monthReport.time_submit}"/>
            <td th:text="${monthReport.isAfter}"/>
            <td th:text="${monthReport.score}"/>
            <td>
                <form th:action="@{/monthFileReportDownload}" method="post" class="form-horizontal" id="form_monthReport_submit" enctype="multipart/form-data">
                    <input type="text" th:value="${monthReport.monthReportFilePath}" id="monthReportFilePath" name="monthReportFilePath" style="display: none">
                    <input class="btn btn-primary radius" type="submit" th:onclick="downloadMonthFile_sure('[[${monthReport.monthReportFilePath}]]')" value="&nbsp;&nbsp;下载报告&nbsp;&nbsp;">
                </form>
            </td>
            <td><a href="javascript:;" th:onclick="monthReportContent('[[${monthReport.content_monthReport}]]','[[${monthReport.monthReview}]]')">浏览</a></td>
        </tr>
        </tbody>
    </table>
    <form class="form form-horizontal" id="form_stu_monthReportFile_submit" method="post"  th:action="@{/submitMonthReport}" onsubmit="submit_sure()" enctype="multipart/form-data">
        <div class="row cl">

            <br>
            <br>
            <label class="form-label col-xs-4 col-sm-2">第</label>
            <select name="monthMessage" id="monthMessageId">
                <option text="请选择" value="请选择">请选择</option>
                <option th:each="item:${monthList}" th:text="${item.id}"
                        th:value="${item.monthMessage}"></option>

                <!--<option value="1">1</option>-->
                <!--<option value="2">2</option>-->
            </select>
            <label>月月报&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" name="monthBan" id="monthBan" value="" style="display: none">

        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">本月月报内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="monthReportContent" id="monthReportContent" cols="" rows="" class="textarea"  placeholder="本月都干了什么呢？内容限制600字......" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="$.Huitextarealength(this,600)"></textarea>
                <p class="textarea-numberbar"><em class="textarea-length" id="textNum">0</em>/600</p>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">月报附件：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text" name="addMonthFile" id="addMonthFile" readonly nullmsg="请添加附件！" style="width:200px">
				<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
				<input type="file" multiple name="uploadMonthFile" class="input-file">
				</span>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" th:onclick="submit_sure('[[${session.firstMonthBeginTime}]]','[[${session.firstMonthEndTime}]]','[[${session.MonthEndTime2}]]','[[${session.MonthEndTime3}]]','[[${session.MonthEndTime4}]]','[[${session.MonthBan1}]]','[[${session.MonthBan2}]]','[[${session.MonthBan3}]]','[[${session.MonthBan4}]]','[[${session.startMonthBJ}]]')" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    /*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
    */


    /*管理员-编辑*/
    function admin_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }

    //文本框内的字数动态显示
    $('#monthReportContent').on("keyup",function(){
        $('#textNum').text($('#monthReportContent').val().length);//键盘按下时，实时的显示数字
        if($('#monthReportContent').val().length>600){
            $('#textNum').text(600);
            $('#monthReportContent').val($('#monthReportContent').val().substring(0,600));//长度大于600，截取前600个字符
        }
    })

    function downloadMonthFile_sure(valPath){
        var monthFile = valPath.substring(1,valPath.length-1);
        if(monthFile=="未提交文件"){
            alert("未提交文件，下载失败！");
        }
    }

    function submit_sure(val1,val2,valEnd2,valEnd3,valEnd4,valBan1,valBan2,valBan3,valBan4,valStartBJ){

        var content = document.getElementById("monthReportContent").value;
        var filePath = document.getElementById("addMonthFile").value;
        var nullFlag;
        if(content.length==0){
            if(filePath.length==0){
                nullFlag = 0;
            }else{
                nullFlag = 1;
            }
        }else{
            nullFlag = 1;
        }

        var d1 = val1.substring(1,val1.length-1);
        var d2 = val2.substring(1,val2.length-1);
        var dend2 = valEnd2.substring(1,valEnd2.length-1);
        var dend3 = valEnd3.substring(1,valEnd3.length-1);
        var dend4 = valEnd4.substring(1,valEnd4.length-1);
        var ban1 = valBan1.substring(1,valBan1.length-1);
        var ban2 = valBan2.substring(1,valBan2.length-1);
        var ban3 = valBan3.substring(1,valBan3.length-1);
        var ban4 = valBan4.substring(1,valBan4.length-1);
        var startBJ = valStartBJ.substring(1,valStartBJ-1);

        var monthMessage = document.getElementById("monthMessageId").value;
        // alert(monthMessage);
        //
        // alert("第一次报告开始提交时间："+d1+"超过"+d2+"即为补交");
        var dateBegin = new Date(d1);//将-转化为/，使用new Date
        var dateEnd1 = new Date(d2);//将-转化为/，使用new Date
        var dateEnd2 = new Date(dend2);
        var dateEnd3 = new Date(dend3);
        var dateEnd4 = new Date(dend4);
        var dateBan1 = new Date(ban1);
        var dateBan2 = new Date(ban2);
        var dateBan3 = new Date(ban3);
        var dateBan4 = new Date(ban4);

        var dateNow = new Date();//获取当前时间

        //计算开始的时间，如果现在的时间与开始时间的差<0,说明还没到开始时间，不能操作
        var beginDiff = dateNow.getTime() - dateBegin.getTime();//时间差的毫秒数
        var beginDayDiff = Math.floor(beginDiff / (24 * 3600 * 1000));//计算出相差天数

        //第1次月报：计算结束时间，如果结束时间与现在时间的差小于0，说明已经超过结束时间，提交的报告默认为补交
        var endDiff1 = dateEnd1.getTime() - dateNow.getTime();//时间差的毫秒数
        var endDayDiff1 = Math.floor(endDiff1 / (24 * 3600 * 1000));//计算出相差天数
        //第1次月报：计算补交时间，如果现在的时间与第一次月报结束时间再加一周的差>0，说明已经超过补交时间，不能提交报告
        var endBan1 = dateNow.getTime() - dateBan1.getTime();//时间差的毫秒数
        var endDayBan1 = Math.floor(endBan1 / (24*3600*1000));

        //第2次月报：计算结束时间：如果第2次周报的结束时间与现在时间的差小于0，说明已经超过结束时间，提交报告默认为补交
        var endDiff2 = dateEnd2.getTime() - dateNow.getTime();//时间差的毫秒数
        var endDayDiff2 = Math.floor(endDiff2 / (24 * 3600 * 1000));//计算出相差天数
        //第2次月报：计算补交时间，如果现在的时间与第2次月报结束时间再加一周的差>0，说明已经超过补交时间，不能提交报告
        var endBan2 = dateNow.getTime() - dateBan2.getTime();//时间差的毫秒数
        var endDayBan2 = Math.floor(endBan2 / (24*3600*1000));

        //第3次月报：计算结束时间：如果第3次周报的截止时间与现在时间的差小于0，说明已经超过结束时间，提交报告默认为补交
        var endDiff3 = dateEnd3.getTime() - dateNow.getTime();//时间差的毫秒数
        var endDayDiff3 = Math.floor(endDiff3 / (24 * 3600 * 1000));//计算出相差天数
        //第3次月报：计算补交时间，如果现在的时间与第3次月报结束时间再加一周的差>0，说明已经超过补交时间，不能提交报告
        var endBan3 = dateNow.getTime() - dateBan3.getTime();//时间差的毫秒数
        var endDayBan3 = Math.floor(endBan3 / (24*3600*1000));

        //第4次月报：计算结束时间：如果第4次周报的结束时间与现在时间的差小于0，说明已经超过结束时间，提交报告默认为补交
        var endDiff4 = dateEnd4.getTime() - dateNow.getTime();//时间差的毫秒数
        var endDayDiff4 = Math.floor(endDiff4 / (24 * 3600 * 1000));//计算出相差天数
        //第4次月报：计算补交时间，如果现在的时间与第4次月报结束时间再加一周的差>0，说明已经超过补交时间，不能提交报告
        var endBan4 = dateNow.getTime() - dateBan4.getTime();//时间差的毫秒数
        var endDayBan4 = Math.floor(endBan4 / (24*3600*1000));

        if(beginDayDiff<0){//没到开始时间
            alert("当前时间是：" + dateNow + "，未到操作时间！");
            return false;
        }else {
            if (monthMessage == "请选择") {
                alert("请选择正确的月期！")
            } else if (nullFlag == 1) {
                if (monthMessage == "1") {
                    if (endDayDiff1 < 0) {//已经超过正常提交时间
                        if (endDayBan1 > 0) {//已经超过补交时间
                            if (startBJ == "1") {//实训结束前，补交开关打开，可以提交，默认为补交
                                document.getElementById("monthBan").value = "补交";
                                alert("当前时间是：" + dateNow + "，已超出正常提交时间，默认为补交！");
                            } else {//实训结束前，补交开关未打开，不可以提交
                                document.getElementById("monthBan").value = "无法提交";
                                alert("该月月报已经超过提交时间，无法提交！");
                            }
                        } else {//还在补交时间内，默认为补交
                            document.getElementById("monthBan").value = "补交";
                            alert("当前时间是：" + dateNow + "，已超出提交时间，本次报告为补交！");
                            // + dateNow.getHours () + ":" + dateNow.getMinutes () +
                        }
                    } else {
                        document.getElementById("monthBan").value = "正常提交";
                        alert("当前时间是：" + dateNow + "，本次报告为正常提交！");
                    }
                    return true;
                } else if (monthMessage == "2") {
                    if (endDayDiff2 < 0) {//已经超过正常提交时间
                        if (endDayBan2 > 0) {//已经超过补交时间
                            if (startBJ == "1") {//实训结束前，补交开关打开，可以提交，默认为补交
                                document.getElementById("monthBan").value = "补交";
                                alert("当前时间是：" + dateNow + "，已超出正常提交时间，默认为补交！");
                            } else {//实训结束前，补交开关未打开，不可以提交
                                document.getElementById("monthBan").value = "无法提交";
                                alert("该月月报已经超过提交时间，无法提交！");
                            }
                        } else {//还在补交时间内，默认为补交
                            document.getElementById("monthBan").value = "补交";
                            alert("当前时间是：" + dateNow + "，已超出提交时间，本次报告为补交！");
                            // + dateNow.getHours () + ":" + dateNow.getMinutes () +
                        }
                    } else {
                        document.getElementById("monthBan").value = "正常提交";
                        alert("当前时间是：" + dateNow + "，本次报告为正常提交！");
                    }
                    return true;
                } else if (monthMessage == "3") {
                    if (endDayDiff3 < 0) {//已经超过正常提交时间
                        if (endDayBan3 > 0) {//已经超过补交时间
                            if (startBJ == "1") {//实训结束前，补交开关打开，可以提交，默认为补交
                                document.getElementById("monthBan").value = "补交";
                                alert("当前时间是：" + dateNow + "，已超出正常提交时间，默认为补交！");
                            } else {//实训结束前，补交开关未打开，不可以提交
                                document.getElementById("monthBan").value = "无法提交";
                                alert("该月月报已经超过提交时间，无法提交！");
                            }
                        } else {//还在补交时间内，可以提交报告，默认为补交
                            document.getElementById("monthBan").value = "补交";
                            alert("当前时间是：" + dateNow + "，已超出提交时间，本次报告为补交！");
                            // + dateNow.getHours () + ":" + dateNow.getMinutes () +
                        }
                    } else {
                        document.getElementById("monthBan").value = "正常提交";
                        alert("当前时间是：" + dateNow + "，本次报告为正常提交！");
                    }
                    return true;
                } else {
                    if (endDayDiff4 < 0) {//已经超过正常提交时间
                        if (endDayBan4 > 0) {//已经超过补交时间
                            if (startBJ == "1") {//实训结束前，补交开关打开，可以提交，默认为补交
                                document.getElementById("monthBan").value = "补交";
                                alert("当前时间是：" + dateNow + "，已超出正常提交时间，默认为补交！");
                            } else {//实训结束前，补交开关未打开，不可以提交
                                document.getElementById("monthBan").value = "无法提交";
                                alert("该月月报已经超过提交时间，无法提交！");
                            }
                        } else {//还在补交时间内，可以提交报告，默认为补交
                            document.getElementById("monthBan").value = "补交";
                            alert("当前时间是：" + dateNow + "，已超出提交时间，本次报告为补交！");
                            // + dateNow.getHours () + ":" + dateNow.getMinutes () +
                        }
                    } else {
                        document.getElementById("monthBan").value = "正常提交";
                        alert("当前时间是：" + dateNow + "，本次报告为正常提交！");
                    }
                    return true;
                }
            }else{
                alert("月报内容与附件不能同时为空！");
            }
        }


        // var gnl = confirm("确认要提交");
        // if(gnl==true){
        //     return true;
        // }else{
        //     return false;
        // }
    }
    function monthReportContent(val1,val2) {
        var d1 = val1.substring(1,val1.length-1);
        var d2 = val2.substring(1,val2.length-1);
        layer.open({
            type: 1,
            area: ['600px', '550px'],
            fix: false, //不固定
            maxmin: true,
            shade: 0.4,
            title: '我的月报信息',
            content:
                '<div class="page-container">'+
                '<form action="" method="post" class="form form-horizontal" id="form-article-add">'+
                '<div class="row cl">'+
                '<label class="form-label col-xs-4 col-sm-2">月报内容</label>'+
                '<div class="formControls col-xs-8 col-sm-9">'+
                '<textarea name="" cols="" rows="" class="textarea" datatype="*10-100" placeholder="" dragonfly="true" onKeyUp="$.Huitextarealength(this,500)" disabled>'+d1+'</textarea>'+
                '</div>'+
                '</div>'+
                '<div class="row cl">'+
                '<label class="form-label col-xs-4 col-sm-2">月报评语：</label>'+
                '<div class="formControls col-xs-8 col-sm-9">'+
                '<textarea name="" cols="" rows="" class="textarea" datatype="*10-100" placeholder="" dragonfly="true" onKeyUp="$.Huitextarealength(this,500)" disabled>'+d2+'</textarea>'+
                '</div>'+
                '</div>'+
                '</form>'+
                '</div>'
        });
    }

</script>
</body>
</html>