<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <script type="text/javascript" src="http://libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
    <script type="text/javascript" src="http://cdn.bootcss.com/css3pie/2.0beta1/PIE_IE678.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="css/H-ui.css"/>
    <link type="text/css" rel="stylesheet" href="css/H-ui.admin.css"/>
    <link type="text/css" rel="stylesheet" href="font/font-awesome.min.css"/>
    <!--[if IE 7]>
    <link href="http://www.bootcss.com/p/font-awesome/assets/css/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <title>修改密码</title>
</head>
<body>
<div class="pd-20">
    <form class="Huiform" id="loginform" action="/updateTeaSchoolSubmit" method="post">
        <table class="table table-border table-bordered table-bg">
            <thead>
            <tr>
                <th colspan="2">修改密码</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="text-r" width="30%">旧密码：</th>
                <td><input name="oldTeaSchPassword" id="oldTeaSchPassword" class="input-text" type="password" autocomplete="off" placeholder="密码" tabindex="1" datatype="*6-16" nullmsg="请输入旧密码！" errormsg="4~16个字符，区分大小写！">
                </td>
            </tr>
            <tr>
                <th class="text-r">新密码：</th>
                <td><input name="newTeaSchPassword" id="newTeaSchPassword" class="input-text" type="password" autocomplete="off" placeholder="设置密码" tabindex="2" datatype="*6-16"  nullmsg="请输入您的新密码！" errormsg="4~16个字符，区分大小写！" >
                </td>
            </tr>
            <tr>
                <th class="text-r">再次输入新密码：</th>
                <td><input name="newTeaSchPassword2" id="newTeaSchPassword2" class="input-text" type="password" autocomplete="off" placeholder="确认新密码" tabindex="3" datatype="*" recheck="newpassword" nullmsg="请再输入一次新密码！" errormsg="您两次输入的新密码不一致！">
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <button type="submit" class="btn btn-success radius" id="admin-password-save" name="admin-password-save" th:onclick="submit_sure('[[${session.findTeaSchOldPsd}]]')" ><i class="icon-ok"></i> 确定</button>
                    <button type="reset" class="btn btn-success radio" id="admin-password-reset" name="admin_password-reset">重置</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="js/Validform_v5.3.2_min.js"></script>
<script type="text/javascript" src="layer/layer.min.js"></script>
<script type="text/javascript" src="js/H-ui.js"></script>
<script type="text/javascript" src="js/H-ui.admin.js"></script>
<script type="text/javascript">

    function submit_sure(val){
        var findOldPsd = val.substring(1,val.length-1);
        alert("数据库的旧密码为:"+findOldPsd);
        var oldPsd = document.getElementById("oldTeaSchPassword").value;
        var newPsd = document.getElementById("newTeaSchPassword").value;
        var newPsdSure = document.getElementById("newTeaSchPassword2").value;
        if(oldPsd==findOldPsd){
            if(newPsd==newPsdSure){
                alert("修改成功!");
                return true;
            }else{
                alert("新密码与确认密码不一致！无法修改！");
                return false;
            }
        }else{
            alert("旧密码输入错误！无法修改！");
            return false;
        }

    }

</script>
</body>
</html>