<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>软件学院实训管理平台</title>
    <link href="css/can.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all"/>
</head>
<body>

<div class="calendar">
    <div class="title">
        <h1 class="green" id="calendar-title">月</h1>
        <h2 class="green" id="calendar-year">年</h2>
        <a href="" id="pre"></a>
        <a href="" id="next"></a>
    </div>
    <div class="body">
        <div class="lightgrey body-list">
            <ul>
                <li>日</li>
                <li>一</li>
                <li>二</li>
                <li>三</li>
                <li>四</li>
                <li>五</li>
                <li>六</li>
            </ul>
        </div>
        <div class="darkgrey body-list">
            <ul id="days">
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/can.js">

</script>

</body>

</html>





















<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>-->
    <!--<title>软件学院实训管理平台</title>-->
    <!--<link href="css/can.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all"/>-->
<!--</head>-->
<!--<body>-->
<!--<div class="calendar">-->
    <!--<div class="title">-->
        <!--<h1 class="green" id="calendar-title">月</h1>-->
        <!--<h2 class="green" id="calendar-year">年</h2>-->
        <!--<a href="css/can.css" id="pre"></a>-->
        <!--<a href="css/can.css" id="next"></a>-->
    <!--</div>-->
    <!--<div class="body">-->
        <!--<div class="lightgrey body-list">-->
            <!--<ul>-->
                <!--<li>日</li>-->
                <!--<li>一</li>-->
                <!--<li>二</li>-->
                <!--<li>三</li>-->
                <!--<li>四</li>-->
                <!--<li>五</li>-->
                <!--<li>六</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<div class="darkgrey body-list">-->
            <!--<ul id="days">-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<script type="text/javascript" src="js/can.js">-->
<!--</script>-->
<!--</body>-->
<!--</html>-->














<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
    <!--&lt;!&ndash;<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>&ndash;&gt;-->
    <!--&lt;!&ndash;<meta name="viewport" content="width=device-width, initial-scale=1.0">&ndash;&gt;-->
    <!--&lt;!&ndash;<meta http-equiv="X-UA-Compatible" content="ie=edge">&ndash;&gt;-->
    <!--&lt;!&ndash;<title>软件学院实训管理平台</title>&ndash;&gt;-->
    <!--&lt;!&ndash;<link href="css/can.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all"/>&ndash;&gt;-->

<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->


<!--&lt;!&ndash;</body>&ndash;&gt;-->