<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>平时评定</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 软工实训管理系统 <span class="c-gray en">&gt;</span> 实训评定 <span class="c-gray en">&gt;</span> 平时评定 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="r">共有数据：<strong>[[${session.studentComDailyScoreNum}]]</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="9">平时成绩评定详细信息</th>
        </tr>
        <tr class="text-c">
            <!--<th width="25"><input type="checkbox" name="" value=""></th>-->
            <th width="30">序号</th>
            <th width="60">学号</th>
            <th width="50">成绩</th>
            <th width="40">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c" th:each="comDailyScore,comDailyScoreStat:${studentComDailyScoreList}" th:inline="none">
            <td th:text="${comDailyScoreStat.count}"/>
            <td th:text="${comDailyScore.sno}"/>
            <td th:text="${comDailyScore.dailyScore}"/>
            <td>
                <a href="javascript:void(0)" th:onclick="inputDailyScore('[[${comDailyScore.sno}]]','[[${comDailyScore.middleFilePath}]]','[[${comDailyScore.dailyScore}]]')">评分</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--<form class="form form-horizontal" id="form_teaCom_stuDailyScore" method="post"  th:action="@{/comTeaInsertDailyScore}" onsubmit="submit_sure()">-->
    <!--<div class="row cl">-->
        <!--<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>学号：</label>-->
        <!--<div class="formControls col-xs-8 col-sm-9">-->
            <!--<input type="text" class="input-text" value="" placeholder="" id="dailyScoreSno" name="dailyScoreSno" readonly="true">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row cl">-->
        <!--<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分数：</label>-->
        <!--<div class="formControls col-xs-8 col-sm-9">-->
            <!--<input type="text" class="input-text" value="0" placeholder="分数为整数" id="dailyScore" name="dailyScore">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row cl">-->
        <!--<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">-->
            <!--<input class="btn btn-primary radius" type="submit" onclick="submit_sure()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">-->
        <!--</div>-->
    <!--</div>-->
<!--</form>-->
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    /*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
    */


    /*管理员-编辑*/
    function admin_edit(title,url,id,w,h){
        layer_show(title,url,w,h);
    }

    function inputDailyScore(val1,val2,val3){
        var sno = val1.substring(1,val1.length-1);
        var isScore = val2.substring(1,val2.length-1);
        // var score1 = val3.substring(1,val3.length-1);

        if(isScore=="禁止打分"){//如果系统已经导入分数，则无法进行打分操作
            alert("成绩由系统录入，禁止操作!");
            document.getElementById("isSubmit").value="无法提交";
        }else{//如果系统没有录入分数，那么可以进入打分窗口
            layer.open({
                type: 1,
                area: ['550px', '300px'],
                fix: false, //不固定
                btnAlign: 'c',
                maxmin: true,
                shade: 0.4,
                title: '周报信息',
                content:'<form class="form form-horizontal" id="form_teaCom_stuDailyScore" method="post"  th:action="@{/comTeaInsertDailyScore}" onsubmit="submit_sure()">\n' +
                    '    <div class="row cl">\n' +
                    '        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>学号：</label>\n' +
                    '        <div class="formControls col-xs-8 col-sm-9">\n' +
                    '            <input type="text" class="input-text" value="'+sno+'" placeholder="" id="dailyScoreSno" name="dailyScoreSno" readonly="true">\n' +
                    '            <input type="text" value="'+isScore+'" id="isDailyScore" name="isDailyScore" style="display: none">\n' +
                    '        </div>\n' +
                    '    </div>\n' +
                    '    <div class="row cl">\n' +
                    '        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分数：</label>\n' +
                    '        <div class="formControls col-xs-8 col-sm-9">\n' +
                    '            <input type="text" class="input-text" value="'+val3+'" placeholder="分数为整数" id="dailyScore" name="dailyScore">\n' +
                    '        </div>\n' +
                    '    </div>\n' +
                    '    <div class="row cl">\n' +
                    '        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">\n' +
                    '            <input type="text" value="" id="isSubmit" name="isSubmit" style="display: none">\n' +
                    '            <input class="btn btn-primary radius" id="submitComStuDailyScore" type="submit" onclick="submit_sure()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" style="display: none">\n' +
                    '        </div>\n' +
                    '    </div>\n' +
                    '</form>',
                btn:['提交','取消'],
                btn1:function(){
                    $('#submitComStuDailyScore').submit();

                    var sno = document.getElementById("dailyScoreSno").value;
                    var score = document.getElementById("dailyScore").value;
                    var isSubmit = document.getElementById("isSubmit").value;

                    $.post("/comTeaInsertDailyScore/"+sno+","+score+","+isSubmit);
                    if(isSubmit=="提交"){
                        layer.closeAll();
                    }

                }
            });
        }


    }

    function submit_sure(){
        var score = document.getElementById("dailyScore").value;

            if((isNaN(score)||score<0||score>100||!(/^\d+$/.test(score)))){
                document.getElementById("isSubmit").value="无法提交";
                alert("成绩需要为0~100的整数！");
            }else{
                document.getElementById("isSubmit").value="提交";
            }
    }
</script>
</body>
</html>