<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="Bookmark" href="/favicon.ico" >
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>实训评定</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 软工实训管理系统 <span class="c-gray en">&gt;</span> 实训评定 <span class="c-gray en">&gt;</span> 实训评定 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="r">共有数据：<strong>[[${session.stuComFinalScoreNum}]]</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg">
        <thead>
        <tr>
            <th scope="col" colspan="9">实训报告详细信息</th>
        </tr>
        <tr class="text-c">
            <th width="30">序号</th>
            <th width="60">学号</th>
            <th width="30">成绩</th>
            <th width="40">下载</th>
            <th width="40">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c" th:each="finalReportTeaCom,memberStat:${stuComFinalScore}" th:inline="none">
            <td th:text="${memberStat.count}"/>
            <td th:text="${finalReportTeaCom.sno}"></td>
            <td th:text="${finalReportTeaCom.finalScore}"/>
            <td>
                <form th:action="@{/stuComFinalFileDownload}" method="post" class="form-horizontal" id="form_stuComFinalReportDownload_submit" enctype="multipart/form-data">
                    <input type="text" class="input-text" th:value="${finalReportTeaCom.finalFilePath}" placeholder="" id="stuComDownloadReportAddress" name="stuComDownloadReportAddress" style="display: none">
                    <input style="background:honeydew; border:0px" type="submit" th:onclick="downloadReport_sure('[[${finalReportTeaCom.finalFilePath}]]')" value="&nbsp;&nbsp;下载报告&nbsp;&nbsp;">
                </form>
                <form th:action="@{/stuComFinalProjectFileDownload}" method="post" class="form-horizontal" id="form_stuComFinalProjectDownload_submit" enctype="multipart/form-data">
                    <input type="text" class="input-text" th:value="${finalReportTeaCom.finalProjectPath}" placeholder="" id="stuComDownloadProjectAddress" name="stuComDownloadProjectAddress" style="display: none">
                    <input style="background:honeydew; border:0px" type="submit" th:onclick="downloadProject_sure('[[${finalReportTeaCom.finalProjectPath}]]')" value="&nbsp;&nbsp;下载项目&nbsp;&nbsp;">
                </form>
            </td>
            <td>
                <a href="javascript:void(0)" th:onclick="addFinalScore('[[${finalReportTeaCom.sno}]]','[[${finalReportTeaCom.finalFilePath}]]','[[${finalReportTeaCom.finalProjectPath}]]','[[${finalReportTeaCom.finalScore}]]')">评分</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--<form action="@{/submitStuComFinalScore}" method="post" class="form form-horizontal" id="form_stuFinalScore" th:onclick="submit_sure()">-->
    <!--<div class="row cl">-->
        <!--<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>学号</label>-->
        <!--<div class="formControls col-xs-8 col-sm-9">-->
            <!--<input type="text" class="input-text" value="" placeholder="" id="stuId" name="stuId" disabled>-->
            <!--<input type="text" value="" id="finalReportFilePath" name="finalReportFilePath">-->
            <!--<input type="text" value="" id="finalProjectFilePath" name="finalProjectFilePath">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row cl">-->
        <!--<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分数：</label>-->
        <!--<div class="formControls col-xs-8 col-sm-9">-->
            <!--<input type="text" class="input-text" value="" placeholder="" id="stuScore" name="stuScore">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row cl">-->
        <!--<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">-->
            <!--<input type="text" value="" id="isSubmit" name="isSubmit">-->
            <!--<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">-->
        <!--</div>-->
    <!--</div>-->
    <!--<br>-->
<!--</form>-->
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">


    function downloadReport_sure(val){
        var valReportPath = val.substring(1,val.length-1);
        if(valReportPath=="未提交文件") {
            alert("该生未提交报告！");
        }
    }
    function downloadProject_sure(val){
        var valProjectPath = val.substring(1,val.length-1);
        if(valProjectPath=="未提交文件") {
            alert("该生未提交项目！");
        }
    }

    function addFinalScore(val1,val2,val3,val4){
        var sno = val1.substring(1,val1.length-1);
        var reportFilePath = val2.substring(1,val2.length-1);
        var projectFilePath = val3.substring(1,val3.length-1);
        var score = val4.substring(1,val4.length-1);

        layer.open({
            type: 1,
            area: ['500px', '350px'],
            fix: false, //不固定
            btnAlign: 'c',
            maxmin: true,
            shade: 0.4,
            title: '实训报告',
            content:
                '<form action="@{/submitStuComFinalScore}" method="post" class="form form-horizontal" id="form_stuFinalScore" onsubmit="submit_sure()">\n' +
                '    <div class="row cl">\n' +
                '        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>学号</label>\n' +
                '        <div class="formControls col-xs-8 col-sm-9">\n' +
                '            <input type="text" class="input-text" value="'+sno+'" placeholder="" id="stuId" name="stuId" disabled>\n' +
                '            <input type="text" value="'+reportFilePath+'" id="finalReportFilePath" name="finalReportFilePath" style="display: none">\n' +
                '            <input type="text" value="'+projectFilePath+'" id="finalProjectFilePath" name="finalProjectFilePath" style="display: none">\n' +
                '        </div>\n' +
                '    </div>\n' +
                '    <div class="row cl">\n' +
                '        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分数：</label>\n' +
                '        <div class="formControls col-xs-8 col-sm-9">\n' +
                '            <input type="text" class="input-text" value="'+score+'" placeholder="" id="stuScore" name="stuScore">\n' +
                '        </div>\n' +
                '    </div>\n' +
                '    <div class="row cl">\n' +
                '        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">\n' +
                '            <input type="text" value="" id="isSubmit" name="isSubmit" style="display: none">\n' +
                '            <input class="btn btn-primary radius" id="submitComStuFinalScore" type="submit" th:onclick="submit_sure()" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" style="display: none">\n' +
                '        </div>\n' +
                '    </div>\n' +
                '    <br>\n' +
                '</form>',
            btn:['提交','取消'],
            btn1:function(){

                $('#submitComStuFinalScore').submit();

                var sno = document.getElementById("stuId").value;
                var isSubmit = document.getElementById("isSubmit").value;
                var score = document.getElementById("stuScore").value;

                $.post("/submitStuComFinalScore/"+sno+","+isSubmit+","+score);
                // layer.closeAll();
            }
        });

    }

    function submit_sure(){
        var reportFilePath = document.getElementById("finalReportFilePath").value;
        var projectFilePath = document.getElementById("finalProjectFilePath").value;
        var score = document.getElementById("stuScore").value;

        if(reportFilePath == "未提交文件" && projectFilePath=="未提交文件"){
            document.getElementById("isSubmit").value="无法提交";
            alert("该生未提交文件！");
        }else{
            if((isNaN(score)||score<0||score>100||!(/^\d+$/.test(score)))){
                document.getElementById("isSubmit").value="无法提交";
                alert("成绩需要为0~100的整数！");
            }else{
                document.getElementById("isSubmit").value="提交";
            }
        }
    }


</script>
</body>
</html>